h2 {font-size:16px;font-weight:normal;margin:0;padding:0 0 5px 0;line-height:18px;}
.clientTable {font-family: Arial, Helvetica, sans-serif; font-size:10px;}
.tableList {font-size:10px;border-left: solid 1px #ccc;border-top: solid 1px #ccc;}
.tableList th {padding:2px 4px;border-bottom: solid 1px #ccc;border-right: solid 1px #ccc;background:#eee;}
.tableList th.subtitle {padding:2px 4px;border-bottom: solid 1px #ccc;border-right: solid 1px #ccc;background:#fff;}
.tableList td {padding:2px 4px;border-bottom: solid 1px #ccc;border-right: solid 1px #ccc;background:#fff;}
.clienthead {background:#ddd;font-weight:bold;font-size:11px;}
.client {background:#eee;}
.normal {background:#fff;}
.warning {background:#FFD7D7;}
.freedel {background:#B3F4EC}
.amount {text-align:right;padding:2px;}
.credit {text-align:right;padding:2px;color:#ff0000;}
.accNum {font-size:12px;}
.amountTotal {text-align:right;padding:2px;font-weight:bold;}
.amountTotal-box {text-align:right;padding:2px;font-weight:bold;font-size: 18px;}
.centre {text-align:center;}
.ref {font-size:12px;font-weight:bold;color:#00C;}
.ordertotal {font-weight:bold;}
.address td {border:none;font-size:13px;}
.compTable {margin:20px 0 0 0 ;font-family:Arial, Helvetica, sans-serif;line-height:22px;}
.compTable td {border:none;padding:0px 4px;;}
.compName {margin:20px 0 0 0 ;font-size:32px;font-weight:bold;color:##075086;padding:10px 0;}
.compAddr {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#075086;}
.compDetailTitle {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#075086;text-align:right;}
.compDetail {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;}
.clientHeader-nav ul {list-style:none;}
.clientHeader-nav li {display:inline;}
.exclusions {font-size:9px;}
.message {width:300px; border:dotted 1px #075086; padding:4px;}
td {margin:20px 0 0 0 ;font-size:32px;font-weight:bold;color:##075086;padding:10px 0;}
