html {overflow-y:scroll;}
body {margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;}
a, a:visited {color:#244C58;}
.clear {clear:both;}
#PayrollWrapper {float: left;width: 900px;padding: 10px;}
.PRHIField {float: left;width: 50px;}
.PRHIField_PAYE {float: left;width: 50px;}
.PRHIField_GT {float: left;width: 50px;}
.PRHIField_NI {float: left;width: 50px;}
.PRHIField_NP {float: left;width: 50px;}
#PRContent {width: 695px;padding: 10px;}
.RItem {width: 900px;min-height: 400px;border-bottom: 2px solid #000; font-size: 14px;padding: 10px;float: left;}
.page {width:21cm;height:27.5cm; page-break-after: always;}