body {background: #FFF;margin:0;padding:0;font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; overflow:hidden;}
table {border-spacing: 0px;border-collapse: collapse;border: 1px solid #BBB;font-size: 14px;font-weight: normal;}
table th {padding: 4px 5px;color: inherit;font-weight: bold;background:#E3E6EC;}
table td {padding: 4px 5px;border-color: #BBB;color: inherit;}
table[border="0"] {border:none;}
.tran_item {float: left;background: #CCC;width: 100%;border: 1px solid #AAA;}
ul {list-style-type: none;margin: 0;padding: 0;}
.top {float: left;width: 100%;}
h1 {margin: 0;font-size: 32px;padding: 5px;}
h2 {margin: 0;font-size: 22px;padding: 5px;}
.left {float: left;width: 49%;}
.right {float: right;width: 49%;}
.content {display: inline-block;width: 100%;padding: 20px 0;}
