body {background: #CCC;}
html {font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;}
a {color: #008ADF;}
p {color:#FFF;}
.button {position: fixed;bottom: 0;width: 10%;line-height: 50px;height: 60px;font-size: 28px;color: #000;text-align: center;text-decoration: none;z-index: 1001;background: #FFF;border: 5px solid #CCC;outline: 0;cursor: pointer;}
.button:active {background: #008ADF;color: #FFF;}
#header {position: fixed;top: 0;right: 0;left: 0;height: 60px;line-height: 18px;background: #0D58A1;z-index: 99;padding: 0 20px;color: #fff;font-size: 14px;border-bottom: 1px solid #222;}
#header #datetime {float: left;margin-top: 12px;}
#header #user {float: right;}
#leftcontrols {position: fixed;top: 60px;left: 0;bottom: 0;width: 25%;border-right: 1px solid #AAA;z-index: 95;background: #FFF;}
#leftcontrols ul {list-style:none;margin:0;padding:0;}
#leftcontrols ul li {display:block;padding:0;}
#leftcontrols ul li .lc-button {display:block;padding: 15px;text-decoration: none;color: #000;font-size: 16px;margin: 5px;background: #BBB;outline: 0;border: none;width: 96.4%;cursor: pointer;text-align: center;}
#leftcontrols ul li .lc-button:active {background: #008ADF;color: #FFF;}
#overlay {position: fixed;left: 25%;top: 61px;bottom: 0;width: 45%;z-index:999;background: #CCC;margin:0 0 0 1px;overflow-y: scroll;overflow-x:hidden;}
#overlay .list .tile {float:left;width: 48.9%;color: #000;text-decoration: none;margin: 4px 0 0 4px;}
#overlay .list .tile .inner {padding: 10px;height: 78px;background: #FFF;color: #000;}
#overlay .list .tile:nth-of-type(2n) {margin-right: 0;}
#overlay .list .tile .inner:active {background: #008ADF;color: #FFF;}
.addproduct {position:fixed;bottom: 0;width:10%;}
#basket {position: fixed;left: 25%;top: 60px;bottom: 60px;width: 45%;}
#basket div.header {font-weight:bold;border-bottom: 1px solid #999;padding: 5px 23px 5px 10px !important;}
#basket div.footer {position: fixed;bottom: 0;width: 45%;font-weight:bold;font-size: 42px;line-height: 60px;font-weight:bold;}
#basket div.footer span.total {float:right;padding: 0 16px;color: #000;}
#basket ul {list-style:none;margin:0;padding:0;overflow-y: scroll;position: absolute;width: 100%;bottom: 0;top: 31px;z-index: 90;}
#basket ul li, #basket div.header {display:block;padding: 5px 10px;border-bottom: 1px solid #ccc;font-size: 12px;line-height: 20px;}
#basket ul li span, #basket div.header span {display:inline-block;}
#basket ul li span.title, #basket div.header span.title {width:40%;}
#basket ul li span.qty, #basket div.header span.qty {width:20%;text-align:center;}
#basket ul li span.price, #basket div.header span.price {width:20%;text-align:right;}
#basket ul li span.linetotal, #basket div.header span.linetotal {width:20%;text-align:right;}
#rightcontrols {position: fixed;top: 60px;left: 70%;bottom: 0;width: 30%;z-index: 999999;}
#commands {position: fixed;top: 60px;width: 30%;}
#commands ul {list-style:none;margin:0;padding:0;}
#commands ul li {display:block;padding:0;}
#commands ul li span {cursor:pointer;float: left;text-decoration: none;text-align: center;height: 80px;width: 49%;line-height: 80px;margin: 1px;color: #FFF;font-size: 22px;background: #844;}
#commands ul li span:active {background: #008ADF !important;}
#commands ul li span.clearbasket {}
#commands ul li span.cash {width: 100%;background: #548843;}
#commands ul li span.card {background: #A67134;}
#commands ul li span.cheque {background: #455288;}
#keypad {position: fixed;bottom: 0;width: 30%;}
#keypad span {cursor:pointer;float:left;width: 32.2%;height: 60px;text-align:center;line-height: 60px;margin: 1px 0 1px 2px;color: #000;font-size: 28px;background: #AAA;text-decoration:none;}
{opacity:0.9;}
#keypad span:active {background: #008ADF !important;color: #FFF;}
#keypad #result {display:block;padding: 10px 20px;text-align: right;font-size: 24px;line-height: 39px;height: 39px;margin: 0 0 1px 2px;background: #BBB;width: 86.2%;color: #000;}
#keypad #btnEnter {cursor:pointer;width: 97.7%;background: #AAA; cursor:pointer;height: 80px;line-height: 80px;font-size: 28px;}
.FCEyeFocus {position: fixed;top: 0;left:0;right:0;bottom:0;background: rgba(0, 0, 0, 0.5);z-index: 999999;}
.FCEyeFocusPopup {position: absolute;background: #FFF;color: #444;width: auto;height: auto;z-index: 99999999;max-width: 400px;}
.FCEFPMessage {font-size: 12px;float: left;padding: 8px;color: #333;line-height: 20px;}
.FCFlyoutNorth_White {position: absolute;background-image: url(../images/flyout-north-white.png);background-position: center center;background-repeat: no-repeat;height: 9px;}
.FCFlyoutSouth_White {position: absolute;background-image: url(../images/flyout-south-white.png);background-position: center center;background-repeat: no-repeat;height: 9px;}
.FCFlyoutEast_White {position: absolute;background-image: url(../images/flyout-east-white.png);background-position: center center;background-repeat: no-repeat;width: 9px;}
.FCFlyoutWest_White {position: absolute;background-image: url(../images/flyout-west-white.png);background-position: center center;background-repeat: no-repeat;width: 9px;}
.FCFlyoutNorth {position: absolute;background-image: url(../images/flyout-north.png);background-position: center center;background-repeat: no-repeat;height: 9px;}
.FCFlyoutSouth {position: absolute;background-image: url(../images/flyout-south.png);background-position: center center;background-repeat: no-repeat;height: 9px;}
.FCFlyoutEast {position: absolute;background-image: url(../images/flyout-east.png);background-position: center center;background-repeat: no-repeat;width: 9px;}
.FCFlyoutWest {position: absolute;background-image: url(../images/flyout-west.png);background-position: center center;background-repeat: no-repeat;width: 9px;}
table {border-spacing: 0px;border-collapse: collapse;border-color: #CCC;border: 1px solid #CCC;font-size: 14px;font-weight: normal;}
table th {padding: 8px 10px;color: #000;border-color: #AAA;font-weight: bold;background: #FFF;border-bottom: 1px solid #AAA;}
table td {padding: 8px 10px;border-color: #AAA;color: #000;}
table[border="0"] {border:none;}
.disable-select {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.custom-scrollbar::-webkit-scrollbar {width: 25px;background: #DDD;}
.custom-scrollbar::-webkit-scrollbar-thumb {background: #BBB;}
.datetime_time {float: right;margin-left: 15px;}
#keypad a:nth-of-type(3n) {margin-right: 0 !important;}
h1 {margin: 0;font-size: 18px;text-align: left;}
.FCEFPMessage p {color: #000;margin: 0;}
.FCEFButton {float: right;border: none;background: #999;width: 70px;height: 30px;color: #FFF;margin-top: 5px;outline: 0;cursor: pointer;}
.FCEFButton:active {background: #008ADF;}
.touch_menu {position: absolute;z-index: 99999999;background: #000;color: #FFF;list-style-type: none;margin: 0;left:0;border-top:2px solid #FFF;padding: 15px 0;display:none;}
.touch_menu li {display: list-item;font-size: 20px;cursor:pointer;padding: 10px 25px;}
.touch_menu li:active {color: #008ADF;}
.splash {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #222;z-index: 999999999;}
.login {margin: 0 auto;width: 50%;height: auto;}
.login ul {list-style-type: none;margin: 0;padding: 0;text-align: center;cursor: default;}
.login ul li {width: 100px;height: 100px;margin: 5px;display: inline-block;background: #FFF;line-height: 100px;text-align: center;box-shadow: none;border: 3px solid #222;cursor: pointer;color: #000;transition: border .1s, box-shadow .1s;}
.login ul li:hover {border: 3px solid #FFF;box-shadow: 0 0 20px #000;transition: border .1s, box-shadow .1s;}
.pin {position: absolute;width: 312px;top: 50%;}
.pin span {float: left;width: 100px;height: 60px;text-align: center;line-height: 60px;margin: 2px;background: #FFF;cursor: pointer;}
.user_active {border: 3px solid #FFF;box-shadow: 0 0 20px #000;}
.pin span:active {background: #008ADF;color: #FFF;}
.switchUser {float: right;color: #FFF;background: #0D4B88;font-weight: bold;padding: 0 20px;height: 60px;line-height: 60px;text-decoration: none;margin-right: -16px;margin-left: 20px;border-left: 1px solid #0E4274;}
.switchUser:active {background: #0E4274;border-left: 1px solid #0C365E;}
.company {font-size: 20px;font-weight: bold;}
.username {float: left;height: 60px;line-height: 60px;}
.pin_val {color: #FFF;font-size: 38px;letter-spacing: 10px;text-align: center;cursor: default;}
.virtual_keyboard {position: fixed;background: #FFF;left: 1%;right: 1%;z-index: 99999999999999;bottom: -1000px;padding: 5px;}
.virtual_keyboard span {float: left;width: 71px;height: 70px;text-align: center;line-height: 75px;margin: 2px;color: #000;background: #AAA;cursor: pointer;font-size: 20px;}
.vk_1 {float: left;width: 100%;}
.vk_backspace {width: 151px !important;}
.vk_2 {float: left;margin-left: 0;}
.vk_3 {float: left;margin-left: 0;}
.vk_4 {float: left;margin-left: 0;}
.vk_5 {float: left;margin-left: 0;}
.vk_space {width: 398px !important;}
.vk_enter {width: 150px !important;}
span.vk_tab {width: 120px !important;}
span.vk_enter_1 {width: 102px !important;}
span.vk_capslock {width: 140px !important;}
span.vk_enter_2 {width: 82px !important;margin-top: -3px;height: 75px !important;border-width: 0 1px 1px 1px;background: #DDD;}
span.vk_shift_1 {width: 100px !important;}
span.vk_shift_2 {width: 197px !important;}
.vk_5 span {width: 100px;}
.virtual_keyboard span:active, .vk_close:active {background: #008ADF;color: #FFF;}
.vk_text {float: left !important;height: 50px !important;width: 91.1% !important;background: #BBB !important;border: 1px solid #BBB !important;margin: 2px !important;line-height: 50px !important;padding: 0 20px !important;text-align: center !important;font-size: 20px !important;outline: 0 !important;color: #000 !important;}
.vk_inactive {opacity: 0.75;background: #AAA !important;color: #333 !important;cursor: default !important;}
.vk_key_active {background: #008ADF !important;color: #FFF !important;}
.vk_close {float: right;width: 51px;height: 52px;background: #AAA;border: none;margin: 2px 2px 2px 0;font-size: 20px;text-align: center;line-height: 50px;outline: 0;cursor: pointer;color: #000;}
.vkn_close {float: right;width: 51px;height: 45px;background: #AAA;border: none;margin: 2px 2px 0 0;font-size: 20px;text-align: center;line-height: 45px;outline: 0;cursor: pointer;color: #000;}
.vk_enter {position: absolute;width: 102px !important;height: 144px !important;}
.vk_hash {position: absolute;border: 4px solid #FFF;margin: -1px 0 0 0 !important;border-width: 4px 4px 0 2px;}
input[type="text"] {height: 40px;font-size: 20px;border: 3px solid transparent;padding: 0 10px;float: left;margin: 5px 5px 0 5px;width: 463px;outline: 0;background: #FFF;color: #000;}
input[type="text"]:focus {border: 3px solid #008ADF;background: #FFF;color: #000;}
input[type="number"] {height: 40px;font-size: 20px;border: 3px solid transparent;padding: 0 10px;float: left;margin: 5px 5px 0 5px;width: 463px;outline: 0;background: #FFF;color: #000;}
input[type="number"]:focus {border: 3px solid #008ADF;background: #FFF;color: #000;}
h1 {color: #008ADF;font-size: 36px;text-align: center;background: #FFF;margin: 5px 5px 0 5px;padding: 5px 0;width: 489px;}
input[type="button"] {float: left;height: 45px;width: 489px;border: 3px solid transparent;font-size: 20px;margin: 6px 5px 0 5px;background: #FFF;text-align: center;outline: 0;cursor: pointer;color: #999;}
input[type="button"]:active {background: #008ADF;color: #FFF;}
.virtual_numpad {position: fixed;bottom: -1000px;background: #FFF;z-index: 999999999999999;width: 237px;padding: 5px;}
.vkn_1 {float: left;width: 237px;}
.virtual_numpad span {float: left;width: 75px;height: 75px;margin: 2px;background: #AAA;text-align: center;line-height: 75px;font-size: 20px;cursor: pointer;color: #000;}
.vkn_2 {float: left;width: 237px;}
.vkn_3 {float: left;width: 237px;}
.vkn_4 {float: left;width: 237px;}
.vkn_text {float: left;background: #BBB !important;width: 153px !important;margin: 2px !important;text-align: right !important;outline: 0;color: #000 !important;}
.vkn_text:focus {border: 3px solid transparent !important;}
.virtual_numpad span:active {color: #FFF;background: #008ADF;}
.vkn_enter {width: 233px !important;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.dim {position:fixed; top:0; left:0; right:0; bottom:0; background: rgba(255, 255, 255, 0.5); z-index:9999999999999; display:none;}
.vkn_close:active {background: #008ADF;color: #FFF;}
.products_list {list-style-type: none;padding: 5px 0;margin: 0;}
.products_list li {display: list-item;margin: 0 0 5px 0;background: #FFF;height: 50px;width: 469px;line-height: 50px;padding: 0 10px;color:#008ADF;cursor:pointer;}
.products_list li:active {background: #008ADF;color:#FFF;}
.title {float: left;color: inherit;}
.price {float: right;color: inherit;}
.sf_results {float: left;padding: 0 5px;}
